# The dependency trees are determined by `pipdeptree -fl`

# Sphinx

sphinx-intl==0.9.9
  Babel==2.3.4
    pytz==2016.10
  click==6.7
  setuptools==38.4.0
  six==1.10.0
  Sphinx==1.5.1
    alabaster==0.7.10
    docutils==0.13.1
    imagesize==0.7.1
    Jinja2==2.9.5
      MarkupSafe==1.0
    Pygments==2.2.0
    requests==2.13.0
    snowballstemmer==1.2.1
-e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@e39a92f4238bf022db11e4e88ba92fdaff2b31c9#egg=sphinxcontrib-jsonschema
  jsonpointer==1.10
  jsonref==0.1
  -e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark
    CommonMark==0.5.4
-e git+https://github.com/open-contracting/ocds_sphinx_directives.git@199ad443e056b331ee489a59621eaeaf7a590340#egg=ocds_sphinx_directives
-e git+https://github.com/jpmckinney/sphinxcontrib-opendataservices.git@e9b8fc0b7ad5e388dd9eb22816586ebff8b8a050#egg=sphinxcontrib-opendataservices
-e git+https://github.com/open-contracting/standard_theme.git@open_contracting#egg=standard_theme
-e .

# Transifex (not pinned, as not part of the build)

transifex-client

# Tests

flake8==3.3.0
  mccabe==0.6.1
  pycodestyle==2.3.1
  pyflakes==1.5.0
